body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	background-color: #849d8f;
}

ul {
	list-style: none;
}

/*.visually-hidden {
	display: none;
}*/

.site-navigation {
	font-weight: bold;
	line-height: 18px;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
}	

.slider-slide h2{
	font-size: 60px;
	font-weight: bold;
	line-height: 60.35px;
}

.work-phone p {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.work-phone b {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.special-offer h3 {
	font-size: 35px;
	font-weight: bold;
}

.about-us h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}