@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff"),
       url("../fonts/roboto.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff"),
       url("../fonts/robotomedium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff"),
       url("../fonts/robotobold.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
	max-width: 1200px;
	min-width: 900px;

	margin: 0 auto;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;

	background-color: #93a99d;

	outline: 2px solid red;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

a {
	color: #ffffff;
}

/*Кнопки*/
.button {
  display: inline-block;
  padding: 11px 22px;

  font: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 23px;
}

.button:hover,
.button:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}


/*Сетка страницы - резина 900 до 1200*/
/*Общие*/
.wrapper {
	position: relative;

}

.container {
	min-width: 900px;
	margin: 0 2.25%;
	padding: 0;
}
/*Кнопки от слайдера*/
.slider-control {
	top: 390px;
	left: 30px;
	position: absolute;
}

/*Шапка*/
/*Верх шапки*/
.main-header { 
	display: flex;
	flex-direction: column;

	margin-top: 9px;
}

.logo-field {
	margin-right: 24px;

	line-height: 0;
}

/*Главная навигация*/
.main-navigation {
	display: flex;
	align-items: center;

	outline: 2px solid red;
}

.site-navigation,
.catalog-sub-menu {
	padding: 0;
	margin: 0;

	list-style: none;
}

/*Навигация сайта*/
.site-navigation {
	display: flex;
	flex-wrap: wrap;

	font-weight: 700;
	line-height: 18px;
}

.site-navigation li {
	margin-right: 28px;


}

/*.site-navigation a {
	text-decoration: none;

	border-bottom: 1px solid #ffffff;
}*/

.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;
	text-decoration: none;

	background-color: #f7f6f3;
}

.site-navigation a:active {
	background-color: #ededed;
  	box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-current {
	color: #ffffff;

	background-color: #d07058;
}

/*Под меню (Каталог)*/
.catalog-sub-menu {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	background-color: #f8f7f4;
}

.catalog-sub-menu li:first-child{
	font-weight: 700;

	border-bottom: 1px solid #d1d0ce;
}

.catalog-sub-menu a {
	color: #323232;
	text-decoration: none;
}

.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
	background-color: #fbded7;
}

.site-navigation a:active {
	background-color: #f6b5a5;
}

.catalog-sub-menu .sub-menu-current {
	color: #ffffff;

	background-color: #d07058;
}

/*Навигация пользователя*/ /*Нужна сортировка по кнопкам*/

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;

	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #ffffff;

}
.user-navigation-item {
	display: flex;
	justify-content: flex-end;

	margin-right: 10px;
}

.user-navigation-button {
	display: block;
	position: relative;

	padding: 8px 0;

	text-decoration: none;
	text-align: center;

	background-color: rgba(255,255,255,0.2);
	border-radius: 16px;

	box-sizing: border-box;
	z-index: 2;
}

.user-navigation-item:last-child {
	margin-right: 0;
}

.icon-find{
	width: 32px;
	height: 32px;
}

.icon-log-in {
	width: 92px;
	height: 32px;
	padding-left: 25px;
}

.icon-basket {
	width: 117px;
	height: 32px;
	padding-left: 16px;
}

.icon-find svg {
	position: absolute;
	top: 7px;
	left: 8px;
}

.icon-log-in svg,
.icon-basket svg {
	position: absolute;
	top: 7px;
	left: 15px;
}

/*ПОП Поиск*/
.pop-search {
	display: none;
	position: absolute;
	top: 59px;

	color: #323232;

	background-color: #f8f7f4;

	border-radius: 10px;
}

.pop-search form {
	width: 341px;
	height: 84px;

	padding: 21px 16px;

	box-sizing: border-box;
}

.pop-search input {
	width: 311px;
	height: 44px;
	border-radius: 10px;
}


.user-navigation-button:hover,
.user-navigation-button:focus {
	color: #323232;

	background-color: #ffffff;
}

.user-navigation-button:hover svg path,
.user-navigation-button:focus svg path,
.user-navigation-button:hover svg circle,
.user-navigation-button:focus svg circle{
	fill: #000;
}

.user-navigation-button:hover .pop-search,
.user-navigation-button:focus .pop-search {
	display: block;
}

/*ПОПапы*/

.pop {
	color: #323232;

	background-color: #f8f7f4;
}


/*ПОП Авторизация*/
.entrance .password,
.entrance .sign-in {
	color: #323232;
}

.entrance .password:hover,
.entrance .sign-in:hover,
.entrance .password:focus,
.entrance .sign-in:focus,
.entrance .password:active,
.entrance .sign-in:active  {
	color: #e84d37;
}

/*ПОП Карзина*/
.basket table {
	border-bottom: 1px solid #d1d0ce;
}

.basket table b {
	color: #323232;
}

.total {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}



/*Низ Шапки*/
.header-bottom {
	display: flex;
	flex-direction: column;
}

/*Слайдер*/
.slider-top {
	text-align: center;

	outline: 2px solid black;
}

.slider-slide h2{
	font-size: 60px;
	font-weight: 700;
	line-height: 60.35px;
}

/*Контакты*/
.work-phone {
	width: 168px;
	margin-left: auto;
	text-align: right;

	outline: 2px solid black;
}

.work-phone p {
	margin: 0;

	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.work-phone b {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	white-space: nowrap;
}

/*!!!Страница Каталог Хлебные крошки!!!*/
.breadcrumbs ul li{
	display: inline-block;

	outline: 2px solid black;
}

/*!!!Страница Каталог Хлебные крошки!!!*/
.filters-form {
	display: flex;

	outline: 2px solid black;
}


/*Контент сайта*/
/*Секция - Специальные предложения*/
.special-offers {
	display: flex;
	justify-content: space-between;

	outline: 2px solid blue;
}

.special-offers h3 {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.special-offers p {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

.special-offer {
	width: 48.86561954624781849912739965096%;

	outline: 2px solid green;
}

.special-offer a {
	position: button right;
}

.special-offer:first-of-type {
	background-image: url("../img/bg-raspberry.jpg");
	background-repeat: no-repeat;
}

.special-offer:last-of-type {
	background-image: url("../img/bg-chocolate.jpg");
	background-repeat: no-repeat;
}

/*Секция - Каталог*/
.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	min-width: 880px;
	margin: 0 1.0833333333333333333333333333333%;

	outline: 2px solid blue;
}

.catalog-item {
	padding-top: 10px;/*перепроверить на проценты*/
	position: relative;
	flex-basis: 25%;
	text-align: center;
}

.box-img,
.price,
.catalog-item p {
	margin-left:  4.6075085%;
	margin-right: 4.6075085%;
}

.box-img {
	position: absolute;
	z-index: -1;
}

.icon-hit {
	display: block;
	position: absolute;

	width: 61px;
	height: 61px;

	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
}

.catalog-item img {
	width: 100%;
	height: 100%;
}

.catalog .price {
	margin-top: 68.4%; /*78.4*/

	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-align: left;
}

.catalog .weight-item {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
}

.catalog p {
	height: 28,00456621004566%;
	font-weight: 400;
}

.button-product {
	display: none;
	position: absolute;
	width: 100%;
	padding-bottom: 5.432098765432099%;
}
	
.product-view {
	white-space: nowrap;
}	

.catalog-item:hover {
	background: rgba(132, 157, 143, 0.8);
	z-index: 1;
}

.catalog-item:hover .button-product {
	display: block;
	background: rgba(132, 157, 143, 0.8);
}


/*Секция - О нас*/
.about-us {
	color: #323232;

	background-image: url("../img/bg-waffle.jpg");
	background-repeat: no-repeat;

	outline: 2px solid blue;
}

.about-us h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}

/*Секция - Блог и Подписка*/
.blog-and-subscription {
	display: flex;
	justify-content: space-between;

	outline: 2px solid blue;
}
/*ПодСекция - Блог*/
.blog {
	width: 48.86561954624781849912739965096%;

	color: #323232;

	background-image: url("../img/bg-strawberry.jpg");
	background-repeat: no-repeat;

	outline: 2px solid green;
}

.blog b {
	font-weight: 400;
}

.blog p {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}
.blog-info a {
	color: #323232;
}

.blog-info a:hover,
.blog-info a:focus,
.blog-info a:active  {
	color: #ffbc9e;
}


/*ПодСекция - Подписка*/
.subscription {
	width: 48.86561954624781849912739965096%;
	padding: 6px;

	color: #5a5a5a;

	background-image: url("../img/bg-mail.jpg");
	background-repeat: no-repeat;

	outline: 2px solid green;
}

.subscription-email {
	background-color: #f8f7f4;
}

/*Секция Карта и Обратная связь*/
/*ПодСекция Карта*/
.map-feedback {
	display: flex;
}

.map {
	width: 100%;
  	height: 430px;

	margin: 0 auto;

 	background-image: url("../img/map.png");
  	background-position: center center;

  	outline: 2px solid blue;
}

/*ПодСекция - Обратная связь*/
.feedback {
	width: 302px;
	height: 305px;

	margin: 62px 2.25% 62px auto;

	background-color: #fefefe;
	outline: 2px solid green;
}

.feedback p {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.feedback p b {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #323232;
}


/*Футер*/
.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 95px;

	outline: 2px solid blue;
}

.footer-social ul,
.footer-info ul {
	list-style: none;
}

/*Социальные кнопки*/
.footer-social ul {
	display: flex;
	justify-content: space-between;
	width: 186px;

	padding: 0; 

	outline: 2px solid green;
}

.social-button {
	display: block;
	width: 32px;
	height: 32px;

	text-decoration: none;

	border: 2px solid #c2cec7;
	border-radius: 23px;
	opacity: 0.80;
}

.social-button-tw {
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;

}

.social-button-inst {
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
}

.social-button-fb {
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
}

.social-button-vk {
	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
	opacity: 1;
}

.social-button:active{
	opacity: 0.3;
}

/*Инфо*/
.footer-info ul {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 326px;
	height: 38px;

	padding: 0;

	outline: 2px solid green;
}

.footer-info li{
	width: 40%;
	white-space: nowrap;
}

.footer-info li:first-child {
	font-weight: 700;
}

.footer-info .heart {
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 2px;
}

.footer-info a {
	padding-left: 20px;

	font-size: 13px;
	line-height: 18px;
	text-decoration: none;

	border-bottom: 1px solid #9db1a5;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active  {
	color: #ffbc9e;
}

/*Копирайт*/
.footer-copyright ul {
	display: flex;
	align-items: flex-end;

	outline: 2px solid green;
}

.footer-copyright p {
	margin: 0;

	font-size: 12px;
	line-height: 18px;
}

.link-academy {
	text-decoration: none;

	border-bottom: 1px solid #9db1a5;
}

.link-academy:hover,
.link-academy:focus,
.link-academy:active  {
	color: #ffbc9e;
}

/*Модаьное окно Обратной связи*/
.modal-feedback {
	background-color: #f8f7f4;

	border: 2px solid yellow;
}

.modal-feedback h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	color: #323232;
}

/*Страница Каталог*/
/*Топ шапки*/
.basked-current {
	color: #323232;
	background-color: #ffffff;
}

/*Низ шапки*/
/*Хлебные крошки*/
.breadcrumbs ul {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

	list-style: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active  {
	color: #ffbc9e;
}

.breadcrumbs-current {
	color: #ffffff;
}

/*Фильтры*/
.filters label,
.filters legend {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #ffffff;
}

.filters ul{
	list-style: none;
}

.sorting,
.filters ul {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	background-color: #9db1a5;
}

.button-filter {
	width: 143px;
	height: 36px;

	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;

	background-color: #9cb0a4;
	border: 2px solid #ffffff;
	border-radius: 20px;
}

.button-filter:hover,
.button-filter:focus {
	color: #323232;
	background-color: #ffffff;
	border-color: #ffffff;
}

.button-filter:active {
	background-color: #ffffff;
	border-color: #ffffff;
	opacity: 0.8;
}

/*Пагинатор*/

.pagination-list {
	display: flex;
	justify-content: flex-end;

	min-width: 800px;
	margin-top: 80px;
	margin-left: auto;

	font-size: 15px;
	font-weight: 400;
	line-height: 18px;

	list-style: none;
}

.arrow-left {
	background-image: url("../img/icon-right-small.svg");
	background-position: 9px 7px;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.arrow-right {
	background-image: url("../img/icon-right-small.svg");
	background-position: 9px 7px;
	background-repeat: no-repeat;
}

.pagination-list li {
	margin-right: 10px;
}

.pagination-item {
	display: table-cell;
	width: 25px;
	height: 25px;

	text-decoration: none;

	text-align: center;
	vertical-align: middle;
	border-radius: 12px;
}

.pagination-item-current {
	color: #000000;
	background-color: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus {
	color: #323232;
	background-color: #9db1a5;
}

.pagination-item:active {
	color: #000000;
	background-color: #ffffff;
}