body {
	background: #eeeeee;
}
/*Сетка сайта*/

/*Основная сетка*/
/*body {
	display: flex;
	flex-direction: column;
	min-width: 900px;
	max-width: 1200px;
	padding: 0 27px 0 27px;
	background-color: rgb(135, 157, 143);
	border: 2px solid blue;
}

.grid-row {
	display: flex;
	border: 2px solid black;	
}

.grid-item {
	flex: 1;
	border: 2px solid red;
}

/*Основная сетка: Header*/
/*.container {
	display: flex;
	justify-content: space-between;
}

.grid-work-info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	margin: 0 -27px;
	border: 2px solid black;
}

.grid-work-info p {
	width: 165px;
	font-size: 14px;
	text-align: right;
	border: 2px solid red;
}

.grid-work-info b {
	font-size: 22px;
	white-space: nowrap;	
}

/*Основная сетка: Main*/
/*.grid-map-feedback {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	margin: 0 -27px;
	border: 2px solid black;	
}

.grid-feedback {
	border: 2px solid red;
}



/*Общие стили*/

/*ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

.visually-hidden {
	display: none;
}

